@import url(https://db.onlinewebfonts.com/c/68b898f6044bbee439423445076f3168?family=Roxborough+CF+Thin);
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Marcellus&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

#root {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@media (max-width: 760px) {
  * {
    overflow-y: auto;
    
  }
}

/* For large screens (lg and xl) */
@media (min-width: 768px) {
  * {
    overflow-y: inherit;
  }
}

.aboutSection .heroSection {
  height: 100%;
  width: 100%;
  position: relative;
}

.aboutSection .heroSection .banner img {
  width: 100%;
}

.aboutSection .heroSection .banner .mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .aboutSection .heroSection .banner .mobile {
    display: block;
  }

  .aboutSection .heroSection .banner .desktop {
    display: none;
  }
}

.aboutSection .heroSection .content {
  position: absolute;
  width: 35%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

@media screen and (max-width: 450px) {
  .aboutSection .heroSection .content {
    padding: 10px 30px;
  }
}

@media screen and (max-width: 1200px) {
  .aboutSection .heroSection .content {
    width: 60%;
    top: 60%;
  }
}

@media screen and (max-width: 768px) {
  .aboutSection .heroSection .content {
    width: 90%;
    top: 40%;
  }
}

@media screen and (max-width: 550px) {
  .aboutSection .heroSection .content {
    top: 42%;
  }
}

@media screen and (max-width: 425px) {
  .aboutSection .heroSection .content {
    top: 45%;
  }
}

.aboutSection .heroSection .content h1 {
  color: #642f29;
  text-align: center;
  font-family: "roxborough_cfbold";
  font-size: calc(38px + 0.2vw);
  max-width: 700px;
  width: 100%;
}

@media screen and (max-width: 1400px) {
  .aboutSection .heroSection .content h1 {
    font-size: calc(30px + 0.2vw);
  }
}

@media screen and (max-width: 1200px) {
  .aboutSection .heroSection .content h1 {
    font-size: calc(28px + 0.2vw);
  }
}

@media screen and (max-width: 768px) {
  .aboutSection .heroSection .content h1 {
    font-size: calc(35px + 0.2vw);
  }
}

@media screen and (max-width: 550px) {
  .aboutSection .heroSection .content h1 {
    font-size: calc(30px + 0.2vw);
  }
}

@media screen and (max-width: 425px) {
  .aboutSection .heroSection .content h1 {
    font-size: calc(28px + 0.2vw);
  }
}

@media screen and (max-width: 375px) {
  .aboutSection .heroSection .content h1 {
    font-size: calc(25px + 0.2vw);
  }
}

.aboutSection .heroSection .content p {
  color: #642f29;
  text-align: center;
  font-size: calc(15px + 0.2vw);
}

@media screen and (max-width: 1200px) {
  .aboutSection .heroSection .content p {
    font-size: calc(14px + 0.2vw);
  }
}

@media screen and (max-width: 768px) {
  .aboutSection .heroSection .content p {
    font-size: calc(15px + 0.2vw);
  }
}

@media screen and (max-width: 550px) {
  .aboutSection .heroSection .content p {
    font-size: calc(14px + 0.2vw);
  }
}

@media screen and (max-width: 425px) {
  .aboutSection .heroSection .content p {
    font-size: calc(13px + 0.2vw);
  }
}

.aboutSection .history {
  background-color: #feeee2;
  padding: 118px 0;
}

@media screen and (max-width: 430px) {
  .aboutSection .history {
    padding: 80px 0;
  }
}

.aboutSection .history .content {
  width: 100%;
  max-width: 1400px;
  margin: auto;
}

.aboutSection .history .content .history-pictures {
  position: relative;
}

.aboutSection .history .content .history-pictures .path {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 50px;
}

@media screen and (max-width: 1200px) {
  .aboutSection .history .content .history-pictures .path {
    display: block;
    display: flex;
    justify-content: center;
    top: 20px;
  }
}

@media screen and (max-width: 600px) {
  .aboutSection .history .content .history-pictures .path {
    top: 60px;
  }
}

@media screen and (max-width: 550px) {
  .aboutSection .history .content .history-pictures .path {
    top: 0px;
  }
}

.aboutSection .history .content .history-pictures .path .desktop {
  width: 90%;
}

@media screen and (max-width: 1200px) {
  .aboutSection .history .content .history-pictures .path .desktop {
    display: none;
  }
}

.aboutSection .history .content .history-pictures .path .mobile {
  display: none;
}

@media screen and (max-width: 1200px) {
  .aboutSection .history .content .history-pictures .path .mobile {
    display: block;
    width: 600px;
    height: 100%;
  }
}

@media screen and (max-width: 700px) {
  .aboutSection .history .content .history-pictures .path .mobile {
    width: 600px;
  }
}

@media screen and (max-width: 550px) {
  .aboutSection .history .content .history-pictures .path .mobile {
    width: 98%;
  }
}

@media screen and (max-width: 400px) {
  .aboutSection .history .content .history-pictures .path .mobile {
    height: 800px;
  }
}

.aboutSection .history .content .history-pictures .box {
  position: relative;
  gap: 10px;
  cursor: pointer;
}

.aboutSection .history .content .history-pictures .box h3 {
  color: #642f29;
  font-family: "roxborough_cfmedium";
  margin: 0px;
  text-align: center;
}

.aboutSection .history .content .history-pictures .box span {
  color: #642f29;
  font-size: calc(12px + 0.2vw);
}

.aboutSection .history .content .history-pictures .history-1 {
  position: relative;
}

@media screen and (max-width: 500px) {
  .aboutSection .history .content .history-pictures .history-1 {
    padding: 10px;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .aboutSection .history .content .history-pictures .history-1 {
    margin-top: -1rem;
  }
}

.aboutSection .history .content .history-pictures .history-1 img {
  width: 200px;
}

@media screen and (max-width: 500px) {
  .aboutSection .history .content .history-pictures .history-1 img {
    width: 100%;
  }
}

.aboutSection .history .content .history-pictures .history-1 h3 {
  font-size: calc(23px + 0.2vw);
}

@media screen and (max-width: 1201px) {
  .aboutSection .history .content .history-pictures .history-1 h3 {
    font-size: calc(20px + 0.2vw);
  }
}

@media screen and (max-width: 768px) {
  .aboutSection .history .content .history-pictures .history-1 h3 {
    font-size: calc(19px + 0.2vw);
  }
}

.aboutSection .history .content .history-pictures .history-2 {
  margin-top: 10rem;
}

@media screen and (max-width: 1200px) {
  .aboutSection .history .content .history-pictures .history-2 {
    margin-top: 15rem;
  }
}

@media screen and (max-width: 500px) {
  .aboutSection .history .content .history-pictures .history-2 {
    padding: 10px;
    margin-top: 16rem;
  }
}

@media screen and (max-width: 400px) {
  .aboutSection .history .content .history-pictures .history-2 {
    margin-top: 15rem;
  }
}

.aboutSection .history .content .history-pictures .history-2 img {
  width: 150px;
}

@media screen and (max-width: 1200px) {
  .aboutSection .history .content .history-pictures .history-2 img {
    width: 200px;
  }
}

@media screen and (max-width: 500px) {
  .aboutSection .history .content .history-pictures .history-2 img {
    width: 75%;
    /* margin-left: auto; */
  }
}

.aboutSection .history .content .history-pictures .history-2 h3 {
  font-size: calc(20px + 0.2vw);
}

@media screen and (max-width: 1200px) {
  .aboutSection .history .content .history-pictures .history-2 h3 {
    font-size: calc(20px + 0.2vw);
  }
}

@media screen and (max-width: 768px) {
  .aboutSection .history .content .history-pictures .history-2 h3 {
    font-size: calc(19px + 0.2vw);
  }
}

.aboutSection .history .content .history-pictures .history-3 {
  margin-top: 15rem;
}

@media screen and (max-width: 1200px) {
  .aboutSection .history .content .history-pictures .history-3 {
    margin-top: -3rem;
  }
}

@media screen and (max-width: 500px) {
  .aboutSection .history .content .history-pictures .history-3 {
    padding: 10px;
    margin-top: -3rem;
  }
}

.aboutSection .history .content .history-pictures .history-3 img {
  width: 180px;
}

@media screen and (max-width: 1200px) {
  .aboutSection .history .content .history-pictures .history-3 img {
    width: 200px;
  }
}

@media screen and (max-width: 500px) {
  .aboutSection .history .content .history-pictures .history-3 img {
    width: 90%;
    margin-right: auto;
  }
}

.aboutSection .history .content .history-pictures .history-3 h3 {
  font-size: calc(22px + 0.2vw);
}

@media screen and (max-width: 1200px) {
  .aboutSection .history .content .history-pictures .history-3 h3 {
    font-size: calc(20px + 0.2vw);
  }
}

@media screen and (max-width: 768px) {
  .aboutSection .history .content .history-pictures .history-3 h3 {
    font-size: calc(19px + 0.2vw);
  }
}

.aboutSection .history .content .history-pictures .history-4 {
  margin-top: 2rem;
}

@media screen and (max-width: 1200px) {
  .aboutSection .history .content .history-pictures .history-4 {
    margin-top: 13rem;
  }
}

@media screen and (max-width: 500px) {
  .aboutSection .history .content .history-pictures .history-4 {
    padding: 10px;
    margin-top: 8rem;
  }
}

@media screen and (max-width: 400px) {
  .aboutSection .history .content .history-pictures .history-4 {
    margin-top: 5rem;
  }
}

.aboutSection .history .content .history-pictures .history-4 img {
  width: 140px;
}

@media screen and (max-width: 1200px) {
  .aboutSection .history .content .history-pictures .history-4 img {
    width: 200px;
  }
}

@media screen and (max-width: 500px) {
  .aboutSection .history .content .history-pictures .history-4 img {
    width: 70%;
    /* margin-left: auto; */
  }
}

.aboutSection .history .content .history-pictures .history-4 h3 {
  font-size: calc(19px + 0.2vw);
}

@media screen and (max-width: 1200px) {
  .aboutSection .history .content .history-pictures .history-4 h3 {
    font-size: calc(20px + 0.2vw);
  }
}

@media screen and (max-width: 768px) {
  .aboutSection .history .content .history-pictures .history-4 h3 {
    font-size: calc(19px + 0.2vw);
  }
}

.aboutSection .history .content .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.aboutSection .history .content .overlay .background {
  width: 100%;
  height: 100%;
  position: absolute;
}

.aboutSection .history .content .overlay .content {
  width: 500px;
  background-color: white;
  border-radius: 5px;
}

@media screen and (max-width: 500px) {
  .aboutSection .history .content .overlay .content {
    width: 75%;
  }
}

.aboutSection .history .content .overlay .content #carouselHistory .carousel-inner .carousel-item .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
  padding: 30px 20px;
}

.aboutSection .history .content .overlay .content #carouselHistory .carousel-inner .carousel-item .content img {
  width: 200px;
}

@media screen and (max-width: 500px) {
  .aboutSection .history .content .overlay .content #carouselHistory .carousel-inner .carousel-item .content img {
    width: 150px;
  }
}

.aboutSection .history .content .overlay .content #carouselHistory .carousel-inner .carousel-item .content h3 {
  text-align: center;
  font-family: "roxborough_cfmedium";
  color: #642f29;
  font-size: calc(22px + 0.2vw);
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  margin-top: 8px;
}

.aboutSection .history .content .overlay .content #carouselHistory .carousel-inner .carousel-item .content h3::before {
  content: "";
  position: absolute;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="42" height="31" viewBox="0 0 42 31" fill="none"><g clip-path="url(%23clip0_1_375)"><path d=" M23.5671 3.16989C23.4887 3.20743 23.4029 3.21027 23.322 3.23624C23.0974 3.30505 22.874 3.37964 22.6518 3.46002C21.998 3.69893 21.3682 3.9877 20.7875 4.35191C19.8066 4.95922 19.1731 5.92026 18.9154 6.96032C18.6166 8.1514 18.8786 9.32351 19.2099 10.4777C19.4036 11.1398 19.5922 11.8089 19.7795 12.4722C19.9594 13.1008 20.0759 13.8063 20.3419 14.402C20.2784 13.6334 20.2022 12.8669 20.1592 12.1007C20.087 10.8838 20.0072 9.66222 20.2626 8.45465C20.4844 7.43281 20.8979 6.4378 21.477 5.53411C22.0562 4.63042 22.8089 3.91862 23.5736 3.16878L23.5671 3.16989ZM20.1256 15.3869C20.01 14.9991 19.9766 14.5911 19.9059 14.1955C19.6451 12.7473 18.9728 11.3642 18.1778 10.0923C17.4434 8.91786 16.5149 7.83093 15.3501 6.97676L15.3183 6.95226C14.0694 6.04664 12.1964 5.08097 10.548 5.17393C10.7324 5.16605 11.3278 5.99869 11.4202 6.12066C12.2616 7.20464 12.5184 8.53959 12.9603 9.77657C13.1713 10.3638 13.4203 11.0044 13.8202 11.511C14.2379 12.0386 14.8814 12.5031 15.4074 12.9459C16.5394 13.8957 17.8226 14.6815 18.9637 15.6117C19.5178 16.0617 20.0435 16.5346 20.5472 17.0292C20.8073 17.2841 21.061 17.5401 21.3095 17.803C21.4541 17.952 22.0503 18.4126 22.0563 18.5975C22.0411 18.3063 21.7848 17.9128 21.6284 17.646C21.4418 17.3304 21.2308 17.025 21.003 16.7346C19.6412 15.0149 17.7763 13.7119 16.3422 12.0587C15.8861 11.5378 15.4751 10.9792 15.1438 10.3887C14.9737 10.0883 14.8228 9.78454 14.6964 9.47055C14.5825 9.18439 14.2286 8.39396 14.2161 8.08428C14.2183 8.12588 16.0312 10.4993 16.5614 11.1812C17.6976 12.6521 18.6939 12.8997 20.1332 15.3916L20.1256 15.3869ZM25.4401 22.7984C25.0047 22.5318 24.6211 22.1963 24.2388 21.8666C23.8565 21.5368 23.443 21.2485 23.0891 20.8958C21.8722 19.7028 20.69 18.3599 19.088 17.5752C18.4572 17.2645 17.7498 17.0629 17.0378 17.09C15.8648 17.1368 14.7847 17.8092 14.1863 18.7162C14.2461 18.6219 14.6997 18.5675 14.8139 18.5418C15.0563 18.4939 15.3075 18.4565 15.5585 18.4491C16.0323 18.4272 16.4748 18.4766 16.9189 18.6278C17.4421 18.8072 17.9871 18.9949 18.4844 19.2088C19.8731 19.8024 21.3091 20.3998 22.5704 21.2074C23.399 21.7298 24.2145 22.2846 25.134 22.6714C25.236 22.7137 25.3444 22.755 25.4465 22.7973L25.4401 22.7984ZM25.9994 23.6493C25.0545 23.1109 24.168 22.4725 23.2075 21.9548C21.903 21.2567 20.5311 20.6482 19.0949 20.2068C17.6588 19.7653 16.0514 19.4254 14.5388 19.6568C12.375 19.9827 10.449 21.617 10.9087 23.7204C11.2257 25.1829 12.5295 26.6607 14.0943 27.1759C14.9086 27.443 15.8994 27.4457 16.7257 27.2369C17.1799 27.1225 17.6172 26.897 17.9032 26.5537C17.8178 26.6524 17.3639 26.7368 17.215 26.7866C16.9402 26.87 16.6643 26.9477 16.3835 27.0022C15.8783 27.0955 15.3699 27.1114 14.8626 27.0072C13.9797 26.8239 13.1752 26.3213 12.7015 25.6235C12.1015 24.7377 12.1121 23.5664 12.9219 22.7788C14.0403 21.692 16.2018 21.4804 17.7581 21.5172C19.4885 21.56 21.1734 21.9525 22.7892 22.4889C23.4822 22.717 24.1701 22.9519 24.854 23.1995C25.2342 23.3317 25.671 23.4481 26.0187 23.6459L25.9994 23.6493ZM29.7042 12.7661C30.0392 13.092 30.552 13.2852 31.0436 13.2842C32.2802 13.2864 33.283 12.2495 33.4226 11.2479C33.6838 9.40964 33.011 7.08511 30.5494 6.22714C29.3435 5.80585 27.9824 5.84317 26.7401 6.1898C24.7509 6.74346 23.3209 8.5858 23.1007 10.429C23.0106 11.1942 23.158 12.0143 23.2523 12.7716C23.3762 13.7937 23.5309 14.8044 23.8278 15.7966C23.9057 14.4098 23.9771 13.0242 24.5714 11.7221C25.2792 10.1724 26.6344 8.66685 28.3297 7.9181C29.6664 7.32728 31.3294 7.45968 32.2793 8.58489C32.891 9.30676 33.0491 10.3649 32.8159 11.2388C32.7153 11.61 32.2519 12.5896 31.0309 12.8486C30.573 12.9458 30.1516 12.8387 29.7106 12.765L29.7042 12.7661ZM40.5655 22.2954C39.4585 22.6847 38.3975 23.2278 37.243 23.4873C35.9499 23.7827 34.6906 23.6106 33.4706 23.1857C32.0515 22.6993 30.4197 21.9618 29.4683 20.8609C28.9996 20.3122 28.7246 19.5801 28.9419 18.9128C29.1183 18.3666 29.6229 17.9256 30.2236 17.7498C30.823 17.5683 31.4725 17.6539 32.0246 17.9063C32.407 18.0801 33.1965 18.5434 33.2977 18.9577C33.0241 17.7936 31.6102 17.0184 30.2992 17.167C28.8525 17.3331 27.3813 18.6368 27.3498 19.9916C27.3158 21.4907 29.2884 22.4872 30.618 22.9591C31.746 23.3578 32.9319 23.5907 34.069 23.9699C31.4854 24.2904 28.8474 23.259 26.9791 21.6269C25.5528 20.3861 24.5288 18.8179 23.7744 17.1732C23.1304 15.7672 22.593 14.049 22.6068 12.5173C22.62 11.4836 22.6717 10.4431 22.8538 9.42215C23.0926 8.07353 23.6214 6.93266 24.4344 5.78465C24.4747 5.72373 24.5161 5.66858 24.5564 5.60766C25.0322 4.93771 25.5493 4.24265 26.2045 3.69762C26.7927 3.21217 27.5052 2.84316 28.2714 2.63279C29.0876 2.40778 29.8528 2.44346 30.683 2.50388C31.1218 2.536 31.5603 2.59815 31.9857 2.69254C32.8418 2.87444 33.675 3.16823 34.4422 3.5574C35.4259 4.05907 36.302 4.71127 37.0118 5.48816C36.7151 4.74782 36.0675 4.17008 35.3702 3.70287C33.8892 2.70543 32.0831 2.11799 30.2422 1.99236C29.1957 1.91533 28.1351 1.99067 27.1278 2.2547C25.0671 2.78474 23.0752 4.20245 21.9797 5.86704C21.0658 7.26036 20.2343 9.88684 20.3668 12.0769C20.466 13.7029 21.1985 15.3694 21.9546 16.834C23.2666 19.3839 25.1679 21.61 27.6668 23.3012C26.1439 22.8267 24.8906 21.8379 23.811 20.7591C22.7314 19.6803 21.7885 18.4939 20.6469 17.4678C18.7486 15.7568 16.2738 14.5233 13.6125 14.2276C10.9513 13.9319 8.12103 14.6249 6.15899 16.2773C5.19535 17.0915 4.446 18.1326 4.11418 19.2934C3.72943 20.6432 3.92369 22.0909 4.47259 23.3934C5.81468 26.5858 9.38467 28.8774 13.1572 29.0231C13.2314 29.0282 13.3043 29.0276 13.3773 29.027C12.9857 28.8728 12.4394 28.8352 12.0039 28.7246C11.5122 28.5997 11.0284 28.4494 10.5525 28.2738C8.39112 27.4839 6.61601 26.1654 5.75638 24.1191C4.44062 20.9881 6.74732 18.4545 9.64642 17.0839C11.3371 16.282 13.2598 15.8538 15.1713 15.9672C15.8034 16.0019 16.4297 16.1036 17.0351 16.2628C18.0619 16.5292 18.911 17.0541 19.7622 17.6206C20.4125 18.054 21.1176 18.4959 21.6773 19.0348C22.1367 19.4772 22.7295 20.1724 23.0948 20.547C23.4665 20.9206 25.196 22.4628 25.922 22.877C29.386 24.8571 33.7638 25.1621 37.6446 24.0956C37.959 24.0113 40.8732 23.0878 40.8144 22.9361C40.7369 22.7276 40.6531 22.5202 40.5756 22.3117L40.5655 22.2954Z" fill=" %2360713A"/><path d=" M27.8942 12.4069C27.8942 12.4069 23.8363 10.6973 24.9571 17.2623C24.9571 17.2623 25.3232 12.3174 27.8942 12.4069Z" fill=" %2360713A"/></g><defs><clipPath id=" clip0_1_375"><rect width=" 35.8009" height=" 24.0748" fill=" white" transform=" matrix(-0.985394 0.170292 0.207604 0.978213 36.084 0.676575)"/></clipPath></defs></svg>');
  left: -45px;
  height: 35px;
  width: 35px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  top: 50%;
  transform: translate(0, -50%);
}

.aboutSection .history .content .overlay .content #carouselHistory .carousel-inner .carousel-item .content h3::after {
  content: "";
  position: absolute;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="41" height="31" viewBox="0 0 41 31" fill="none"><g clip-path="url(%23clip0_1_372)"><path d="M17.5972 3.16989C17.6756 3.20743 17.7614 3.21027 17.8423 3.23624C18.0669 3.30505 18.2903 3.37964 18.5125 3.46002C19.1663 3.69893 19.7962 3.9877 20.3768 4.35191C21.3577 4.95922 21.9912 5.92026 22.2489 6.96032C22.5477 8.1514 22.2857 9.32351 21.9544 10.4777C21.7607 11.1398 21.5721 11.8089 21.3849 12.4722C21.2049 13.1008 21.0884 13.8063 20.8224 14.402C20.8859 13.6334 20.9621 12.8669 21.0051 12.1007C21.0773 10.8838 21.1571 9.66222 20.9017 8.45465C20.6799 7.43281 20.2664 6.4378 19.6873 5.53411C19.1081 4.63042 18.3554 3.91862 17.5908 3.16878L17.5972 3.16989ZM21.0387 15.3869C21.1543 14.9991 21.1877 14.5911 21.2584 14.1955C21.5192 12.7473 22.1915 11.3642 22.9865 10.0923C23.7209 8.91786 24.6494 7.83093 25.8142 6.97676L25.846 6.95226C27.0949 6.04664 28.9679 5.08097 30.6163 5.17393C30.4319 5.16605 29.8365 5.99869 29.7441 6.12066C28.9027 7.20464 28.6459 8.53959 28.204 9.77657C27.993 10.3638 27.744 11.0044 27.3441 11.511C26.9264 12.0386 26.2829 12.5031 25.7569 12.9459C24.625 13.8957 23.3417 14.6815 22.2006 15.6117C21.6465 16.0617 21.1208 16.5346 20.6171 17.0292C20.357 17.2841 20.1033 17.5401 19.8548 17.803C19.7102 17.952 19.114 18.4126 19.108 18.5975C19.1232 18.3063 19.3795 17.9128 19.5359 17.646C19.7225 17.3304 19.9335 17.025 20.1613 16.7346C21.5231 15.0149 23.388 13.7119 24.8221 12.0587C25.2782 11.5378 25.6892 10.9792 26.0205 10.3887C26.1906 10.0883 26.3415 9.78454 26.4679 9.47055C26.5818 9.18439 26.9357 8.39396 26.9482 8.08428C26.946 8.12588 25.1331 10.4993 24.6029 11.1812C23.4667 12.6521 22.4704 12.8997 21.0311 15.3916L21.0387 15.3869ZM15.7242 22.7984C16.1596 22.5318 16.5432 22.1963 16.9255 21.8666C17.3079 21.5368 17.7213 21.2485 18.0752 20.8958C19.2921 19.7028 20.4743 18.3599 22.0763 17.5752C22.7071 17.2645 23.4145 17.0629 24.1265 17.09C25.2995 17.1368 26.3796 17.8092 26.978 18.7162C26.9182 18.6219 26.4646 18.5675 26.3504 18.5418C26.108 18.4939 25.8568 18.4565 25.6058 18.4491C25.132 18.4272 24.6895 18.4766 24.2454 18.6278C23.7222 18.8072 23.1772 18.9949 22.6799 19.2088C21.2913 19.8024 19.8552 20.3998 18.594 21.2074C17.7653 21.7298 16.9498 22.2846 16.0303 22.6714C15.9283 22.7137 15.8199 22.755 15.7178 22.7973L15.7242 22.7984ZM15.1649 23.6493C16.1098 23.1109 16.9963 22.4725 17.9568 21.9548C19.2614 21.2567 20.6333 20.6482 22.0694 20.2068C23.5055 19.7653 25.1129 19.4254 26.6255 19.6568C28.7893 19.9827 30.7154 21.617 30.2556 23.7204C29.9386 25.1829 28.6348 26.6607 27.07 27.1759C26.2557 27.443 25.2649 27.4457 24.4386 27.2369C23.9844 27.1225 23.5471 26.897 23.2611 26.5537C23.3465 26.6524 23.8004 26.7368 23.9494 26.7866C24.2241 26.87 24.5 26.9477 24.7808 27.0022C25.286 27.0955 25.7944 27.1114 26.3017 27.0072C27.1846 26.8239 27.9891 26.3213 28.4628 25.6235C29.0628 24.7377 29.0522 23.5664 28.2424 22.7788C27.124 21.692 24.9625 21.4804 23.4062 21.5172C21.6759 21.56 19.9909 21.9525 18.3751 22.4889C17.6821 22.717 16.9942 22.9519 16.3103 23.1995C15.9301 23.3317 15.4933 23.4481 15.1456 23.6459L15.1649 23.6493ZM11.4601 12.7661C11.1251 13.092 10.6123 13.2852 10.1207 13.2842C8.88411 13.2864 7.88134 12.2495 7.74169 11.2479C7.48053 9.40964 8.15329 7.08511 10.6149 6.22714C11.8208 5.80585 13.1819 5.84317 14.4242 6.1898C16.4134 6.74346 17.8434 8.5858 18.0636 10.429C18.1538 11.1942 18.0063 12.0143 17.912 12.7716C17.7882 13.7937 17.6335 14.8044 17.3365 15.7966C17.2586 14.4098 17.1872 13.0242 16.5929 11.7221C15.8851 10.1724 14.5299 8.66685 12.8346 7.9181C11.4979 7.32728 9.83494 7.45968 8.88503 8.58489C8.27327 9.30676 8.11516 10.3649 8.34838 11.2388C8.44904 11.61 8.91236 12.5896 10.1334 12.8486C10.5913 12.9458 11.0127 12.8387 11.4537 12.765L11.4601 12.7661ZM0.598824 22.2954C1.70582 22.6847 2.76685 23.2278 3.92131 23.4873C5.21436 23.7827 6.47372 23.6106 7.69368 23.1857C9.11277 22.6993 10.7447 21.9618 11.6961 20.8609C12.1647 20.3122 12.4397 19.5801 12.2225 18.9128C12.046 18.3666 11.5414 17.9256 10.9408 17.7498C10.3413 17.5683 9.69176 17.6539 9.13975 17.9063C8.75729 18.0801 7.9678 18.5434 7.86659 18.9577C8.14023 17.7936 9.55415 17.0184 10.8651 17.167C12.3118 17.3331 13.783 18.6368 13.8145 19.9916C13.8485 21.4907 11.8759 22.4872 10.5463 22.9591C9.41829 23.3578 8.23244 23.5907 7.09528 23.9699C9.67892 24.2904 12.3169 23.259 14.1852 21.6269C15.6115 20.3861 16.6355 18.8179 17.3899 17.1732C18.0339 15.7672 18.5713 14.049 18.5575 12.5173C18.5443 11.4836 18.4926 10.4431 18.3105 9.42215C18.0717 8.07353 17.5429 6.93266 16.7299 5.78465C16.6897 5.72373 16.6482 5.66858 16.6079 5.60766C16.1321 4.93771 15.615 4.24265 14.9598 3.69762C14.3716 3.21217 13.6591 2.84316 12.8929 2.63279C12.0767 2.40778 11.3116 2.44346 10.4813 2.50388C10.0425 2.536 9.60399 2.59815 9.17856 2.69254C8.32252 2.87444 7.48926 3.16823 6.72215 3.5574C5.73844 4.05907 4.86234 4.71127 4.15251 5.48816C4.44919 4.74782 5.09682 4.17008 5.7941 3.70287C7.27513 2.70543 9.08119 2.11799 10.9222 1.99236C11.9686 1.91533 13.0292 1.99067 14.0365 2.2547C16.0972 2.78474 18.0891 4.20245 19.1846 5.86704C20.0985 7.26036 20.93 9.88684 20.7975 12.0769C20.6983 13.7029 19.9658 15.3694 19.2098 16.834C17.8977 19.3839 15.9964 21.61 13.4975 23.3012C15.0204 22.8267 16.2737 21.8379 17.3533 20.7591C18.4329 19.6803 19.3759 18.4939 20.5174 17.4678C22.4157 15.7568 24.8905 14.5233 27.5518 14.2276C30.213 13.9319 33.0433 14.6249 35.0053 16.2773C35.969 17.0915 36.7183 18.1326 37.0501 19.2934C37.4349 20.6432 37.2406 22.0909 36.6917 23.3934C35.3496 26.5858 31.7796 28.8774 28.0071 29.0231C27.9329 29.0282 27.86 29.0276 27.787 29.027C28.1786 28.8728 28.7249 28.8352 29.1604 28.7246C29.6521 28.5997 30.1359 28.4494 30.6118 28.2738C32.7732 27.4839 34.5483 26.1654 35.4079 24.1191C36.7237 20.9881 34.417 18.4545 31.5179 17.0839C29.8273 16.282 27.9045 15.8538 25.993 15.9672C25.3609 16.0019 24.7346 16.1036 24.1292 16.2628C23.1024 16.5292 22.2533 17.0541 21.4021 17.6206C20.7518 18.054 20.0467 18.4959 19.487 19.0348C19.0276 19.4772 18.4348 20.1724 18.0695 20.547C17.6978 20.9206 15.9683 22.4628 15.2423 22.877C11.7783 24.8571 7.40051 25.1621 3.51974 24.0956C3.20535 24.0113 0.291093 23.0878 0.349884 22.9361C0.427362 22.7276 0.511252 22.5202 0.588731 22.3117L0.598824 22.2954Z" fill="%2360713A"/><path d="M13.2701 12.4068C13.2701 12.4068 17.328 10.6973 16.2072 17.2622C16.2072 17.2622 15.8411 12.3174 13.2701 12.4068Z" fill="%2360713A"/></g><defs><clipPath id="clip0_1_372"><rect width="35.8009" height="24.0748" fill="white" transform="matrix(0.985394 0.170292 -0.207604 0.978213 5.08008 0.676575)"/></clipPath></defs></svg>');
  right: -45px;
  height: 35px;
  width: 35px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  top: 50%;
  transform: translate(0, -50%);
}

.aboutSection .history .content .overlay .content #carouselHistory .carousel-inner .carousel-item .content p {
  text-align: center;
  color: #642f29;
  font-size: calc(14px + 0.2vw);
}

.aboutSection .history .content .overlay .content #carouselHistory .carousel-inner .carousel-item .content a {
  text-align: center;
  color: #60713a;
  font-size: calc(14px + 0.2vw);
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px solid #60713a;
}

.aboutSection .history .content .overlay .content #carouselHistory .carousel-control-prev .carousel-control-prev-icon {
  margin-bottom: 150px;
}

.aboutSection .history .content .overlay .content #carouselHistory .carousel-control-next .carousel-control-next-icon {
  margin-bottom: 150px;
}

.aboutSection .family {
  margin-top: 115px;
  margin-bottom: 115px;
}

@media screen and (max-width: 430px) {
  .aboutSection .family {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}

.aboutSection .family .content {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  padding: 10px;
}

.aboutSection .family .content .left .box {
  width: 550px;
}

@media screen and (max-width: 1000px) {
  .aboutSection .family .content .left .box {
    width: 100%;
    padding-right: 10px;
  }
}

@media screen and (max-width: 767px) {
  .aboutSection .family .content .left .box {
    align-items: center;
    padding-right: 0px;
    padding-bottom: 2rem;
  }
}

.aboutSection .family .content .left .box h6 {
  color: #642f29;
  font-size: calc(16px + 0.2vw);
}

@media screen and (max-width: 767px) {
  .aboutSection .family .content .left .box h6 {
    text-align: center;
    font-size: calc(17px + 0.2vw);
  }
}

@media screen and (max-width: 550px) {
  .aboutSection .family .content .left .box h6 {
    font-size: calc(16px + 0.2vw);
  }
}

@media screen and (max-width: 400px) {
  .aboutSection .family .content .left .box h6 {
    font-size: calc(15px + 0.2vw);
  }
}

.aboutSection .family .content .left .box h2 {
  color: #642f29;
  font-family: "roxborough_cfmedium";
  font-size: calc(30px + 0.2vw);
}

@media screen and (max-width: 900px) {
  .aboutSection .family .content .left .box h2 {
    font-size: calc(25px + 0.2vw);
  }
}

@media screen and (max-width: 767px) {
  .aboutSection .family .content .left .box h2 {
    text-align: center;
    font-size: calc(30px + 0.2vw);
  }
}

@media screen and (max-width: 550px) {
  .aboutSection .family .content .left .box h2 {
    font-size: calc(25px + 0.2vw);
  }
}

@media screen and (max-width: 400px) {
  .aboutSection .family .content .left .box h2 {
    font-size: calc(23px + 0.2vw);
  }
}

.aboutSection .family .content .left .box p {
  color: #642f29;
  font-size: calc(14px + 0.2vw);
}

@media screen and (max-width: 767px) {
  .aboutSection .family .content .left .box p {
    text-align: center;
    font-size: calc(15px + 0.2vw);
  }
}

@media screen and (max-width: 550px) {
  .aboutSection .family .content .left .box p {
    font-size: calc(14px + 0.2vw);
  }
}

@media screen and (max-width: 400px) {
  .aboutSection .family .content .left .box p {
    font-size: calc(13px + 0.2vw);
  }
}

.aboutSection .family .content .right img {
  width: 100%;
}
