@import url(https://db.onlinewebfonts.com/c/68b898f6044bbee439423445076f3168?family=Roxborough+CF+Thin);
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

#root {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@media (max-width: 760px) {
  * {
    overflow-y: auto;
    
  }
}

/* For large screens (lg and xl) */
@media (min-width: 768px) {
  * {
    overflow: hidden;
  }
}
